
.label{
    -fx-background-color: #b12b2b;
    -fx-font-size: 14;
    -fx-font-family: "Cambria";
    -fx-text-fill: "white";
    -fx-background-radius: 15;
}
.bottom{
    -fx-background-color: #807979
}
.back{
    -fx-background-radius: 15;
    -fx-text-fill: #807979;
}

.save{
    -fx-background-radius: 15;
    -fx-text-fill: #807979;
}